<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <img src="{% static 'catalog/images/panda.png' %}" alt="My image" style="width:100px;height:100px;"/>

</head>

<body>
{% if user.is_authenticated %}
<ul style="list-style-type:none">
    <li>
    Hi {{ user.username }}!
    </li>
    <li>
  <a href="/accounts/logout">logout</a>
    </li>
</ul>
    {% else %}
  <p>You are not logged in</p>
<ul style="list-style-type:none">
    <li>
  <a href="{% url 'login' %}">Sign In</a>
    </li>
<!--<p>-->
    <li>
    <a href="{% url 'signup'%}">Sign Up</a>
    <li>
<!--</p>-->
</ul>
{% endif %}


  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
          {% if user.is_authenticated %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'posts' %}">All posts</a></li>
          <li><a href="">All comments</a></li>
      </ul>
          {% endif %}
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

        {% block pagination %}
          {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>

  </div>
</body>
</html>