{% extends "base_generic.html" %}

{% block content %}
  <p>Logged out!</p>
  <a href="{% url 'login'%}">Click here to login again.</a>
  <p></p>
  <p>
    <a href="{% url 'signup'%}">Or click here if you don't have an account yet</a>
  </p>
{% endblock %}