{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ post.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ post.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Title:</strong> {{ post.title }}</p>
  <p><strong>Slug:</strong> {{ post.slug }}</p>
  <p><strong>Content:</strong> {{ post.content }}</p>

  <div style="margin-left:20px;margin-top:20px">

    <a href="{% url 'post_delete' object.pk %}">Delete Post</a>

    <h4>End</h4>

  </div>
{% endblock %}