{% extends "base_generic.html" %}

{% block content %}
    <h1>Post List</h1>

    {% if post_list %}
    <ul>

      {% for post in post_list %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> ({{post.autor}})
      </li>
      {% endfor %}

    </ul>

        <a href="{% url 'post_create' %}">Create Post</a>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}